{% extends "base.html" %}

{% block cuerpo %}

<!-- jQuery UI CSS -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<!-- jQuery y jQuery UI -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

<style>
  /* Estilo base del elemento */
  #datepicker {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  /* Cambia el cursor cuando el usuario pasa el mouse sobre el elemento */
  #datepicker:hover {
    cursor: pointer;
  }

  /* Cambia el estilo del calendario emergente */
  .ui-datepicker {
    font-size: 14px;
  }

  .ui-datepicker-header {
    background-color: #f2f2f2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
  }

  .ui-datepicker-title {
    font-weight: bold;
    color: #333;
  }

  .ui-datepicker-prev,
  .ui-datepicker-next {
    background-color: #f2f2f2;
    border-radius: 3px;
    color: #333;
    border: none;
  }

  .ui-datepicker-prev:hover,
  .ui-datepicker-next:hover {
    background-color: #ddd;
    color: #333;
  }

  .ui-datepicker-calendar {
    background-color: #fff;
  }

  .ui-datepicker th {
    background-color: #f2f2f2;
    color: #333;
    border: none;
  }

  .ui-datepicker td {
    border: none;
  }

  .ui-datepicker-today {
    background-color: #e6e6e6;
    border-radius: 3px;
  }

  .ui-datepicker-current-day {
    background-color: #e6e6e6;
    border-radius: 3px;
  }

  .ui-datepicker-week-end {
    color: #a00;
  }

  /* Estilo para los días agendados */
  .booked-date {
    background-color: #ffcccc !important; /* Cambia el color de fondo a rojo claro */
    color: #000000 !important; /* Cambia el color del texto a negro */
  }
</style>

<form class="w3-container w3-card-4 {% if cdx.tipo == 'alta' %}w3-light-grey{% elif cdx.tipo ==
    'borrar' %}w3-pale-red {% else %}w3-gray{% endif %}" method="post">
  <h></h>
  <h1></h1>
  <h2>Registrar fecha</h2>
  <br>
  <div class="w3-row-padding">
    <div class="w3-third">
      <label class="w3-text-black" for="nombre"><b>Nombre:</b></label>
      <input required name="nombre" id="nombre" class="w3-input w3-border" type="text" placeholder="Nombre"
{% if cdx.tipo != 'alta' %}value="{{ cdx.empleado.nombre }}"{% endif %}>
</div>
<div class="w3-third">
<label class="w3-text-black" for="apellido"><b>Apellido:</b></label>
<input required name="apellido" id="apellido" class="w3-input w3-border" type="text" placeholder="Apellido"
{% if cdx.tipo != 'alta' %}value="{{ cdx.empleado.apellido }}"{% endif %}>
</div>
<div class="w3-third">
<label class="w3-text-black" for="celular"><b>Celular:</b></label>
<input required name="celular" id="celular" class="w3-input w3-border" type="text" placeholder="Celular"
{% if cdx.tipo != 'alta' %}value="{{ cdx.empleado.celular }}"{% endif %}>
</div>

  </div>
  <div class="w3-row">
    <div class="w3-half w3-container">
      <div class="w3-twothird"></div>
      <div class="w3-half">
        <label class="w3-text-black" for="datepicker"><b>Calendario:</b></label>
        <input required name="calendario" id="datepicker" class="w3-input w3-border" type="text" placeholder="Calendario"
          {% if cdx.tipo != 'alta' %}value="{{ cdx.empleado.fecha }}"{% endif %}>
      </div>
      <div class="w3-half w3-container">
        <label class="w3-text-black" for="fecha-input"><b>Fecha:</b></label>
        <input required name="fecha-input" id="fecha-input" class="w3-input w3-border" type="text" placeholder="Fecha"
        {% if cdx.tipo != 'alta' %}value="{{ cdx.empleado.fecha }}"{% endif %}>
      </div>
    </div>
    <div class="w3-half w3-container">
      <label class="w3-text-black" for="monto"><b>Monto:</b></label>
      <input required name="monto" id="monto" class="w3-input w3-border" type="number" placeholder="Monto"
        {% if cdx.tipo != 'alta' %}value="{{ cdx.empleado.monto }}"{% endif %}>
    </div>
    <div>
      <div class="w3-twothird w3-container">
        <label class="w3-text-black" for="comentario"><b>Comentario:</b></label>
        <input name="comentarios" id="comentarios" class="w3-input w3-border" type="text" placeholder="Comentarios"
          {% if cdx.tipo != 'alta' %}value="{{ cdx.empleado.comentarios }}"{% endif %} required>
      </div>
    </div>
    <button type="submit" class="w3-button w3-red w3-section w3-padding w3-right">
      {% if cdx.tipo == 'alta' %}Crear
      {% elif cdx.tipo == 'borrar' %}Borrar
      {% else %}Guardar{% endif %}
    </button>
  </div>
  <h></h>
  <h1></h1>
 <h2></h2>
</form>
<script>
  $(function() {
    $("#datepicker").datepicker({
      dateFormat: "dd/mm/yy",
      minDate: 0,
      showOtherMonths: true,
      selectOtherMonths: true,
      changeMonth: true,
      changeYear: true,
      onSelect: function(dateText, inst) {
        var selectedDate = $(this).datepicker('getDate');
        var day = selectedDate.getDate().toString().padStart(2, '0');
        var month = (selectedDate.getMonth() + 1).toString().padStart(2, '0');
        var year = selectedDate.getFullYear();
        var formattedDate = day + '/' + month + '/' + year;
        $("#fecha-input").val(formattedDate);
      }
    });
  });
</script>
{% endblock %}