{% extends "base.html" %}

{% block cuerpo %}

<style>
body {
	background-color: #f2f2f2;
	font-family: Arial, sans-serif;
}

.container {
	margin: 80px auto;
	padding: 40px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
	max-width: 400px;
}

h1 {
	text-align: center;
	font-size: 2.5em;
	color: #333;
	margin-bottom: 40px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

form label {
	font-size: 1.2em;
	color: #333;
	margin-bottom: 10px;
}

form input[type="text"],
form input[type="password"] {
	padding: 12px;
	border: none;
	border-radius: 5px;
	background-color: #f2f2f2;
	width: 100%;
	margin-bottom: 20px;
	font-size: 1.2em;
	color: #333;
}

form button[type="submit"] {
	background-color: #333;
	color: #fff;
	padding: 12px;
	border: none;
	border-radius: 5px;
	font-size: 1.2em;
	width: 100%;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

form button[type="submit"]:hover {
	background-color: #fff;
	color: #333;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

form input[type="text"]:focus,
form input[type="password"]:focus,
form button[type="submit"]:focus {
	outline: none;
}

form input[type="text"],
form input[type="password"],
form button[type="submit"] {
	transform: translateY(-20px);
	opacity: 0;
	animation: slideIn 0.5s forwards;
	animation-delay: 0.2s;
}

@keyframes slideIn {
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

</style>

    <div class="container">
		<h1>Iniciar Sesión</h1>
		<form method="POST" action="{{ url_for('admin.login') }}">
			<label for="Username">Nombre de Usuario</label>
			<input type="text" id="Username" name="Username" placeholder="Ingrese su nombre de usuario">

			<label for="Password">Contraseña</label>
			<input type="Password" id="Password" name="Password" placeholder="Ingrese su contraseña">

			<button type="submit">Ingresar</button>
            {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flash">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
		</form>
	</div>

{% endwith %}


{% endblock %}